// HEADER

.imagenHeader{
    width: 100%;
}

.bi-cart2{ //icono de carrito
    margin-top: -110px;
}

.d-flex{ //buscador
   margin-left: 100px;
   margin-top: -130px;
}

.bi-person-fill{ //icono usuario
    margin-top: -180px;
    margin-left: 1000px;
}

.zombies{
    background-image: url(../imagenes/zombie.png);
    background-size: 100fr;
    padding-bottom: 140px;
}

// BODY

body{
    background-color: black;
}

h1{ 
    text-align: center;
    color: white;
    font-family: fantasy;
    font-size: 60px;
    margin-bottom: 40px;
    margin-top: 30px;
}


.bebidas{
    background-color: black;
    padding-top: 100px;
    padding-bottom: 100px;
}

.bebidas1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
    border-color: blueviolet;
    border-style: solid;
    margin-left: -200px;
}

// SUBTOTAL

.conteiner{
    background-color: black;
    padding-top: 0px;
    padding-bottom: 100px;
    padding-top: 40px;
}

.nombre1{
    color:chartreuse;
    font-size: 30px;
    font-family: fantasy;
    letter-spacing: 3px;
}

.conteiner1{
    display: flex;
    flex-direction: row;
}

.conteiner2{
    display: flex;
    flex-direction: column;
    // margin-top: 100px;
    // margin-left: -90px;
}


.titulo{
    color:darkgray;
    font-size: 30px;
    margin-bottom: 10px;
}


.boton{
    background-color: blueviolet;
    color: white;
    padding: 8px 10px 8px 10px;
    margin-top: 15px;
}

.fernet{
    margin-left: 150px;
}

/// fotos bebidas

.fotos1{
    padding-bottom: 150px;
    padding-top: 50px;
  
}

.fotos2{
    padding-bottom: 150px;
    
}

.propiedades{
    height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-width: 50%;
}

/////// intento 2

.conteiner-fluid{
    margin: 0;
    padding: 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.bottles {
    border: 1px solid rgb(49, 29, 49);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 15px;
}

.descripcion{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 50%;
}

.nombreProducto{
    margin-right: 25px;
    font-size: 25px;
    padding-right: 20px;
    color: honeydew;
}

.precio{
    font-size: 30px;
    color: greenyellow;
}

.shop{
    margin-right: 70px;
    background-color: rgb(129, 254, 2);
    color: black;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: rgb(66, 70, 66);
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    max-width: 90px;
    min-width: 80px;
}