// HEADER

.imagenHeader{
    width: 100%;
}

.bi-cart2{ //icono de carrito
    margin-top: -110px;
}

.d-flex{ //buscador
   margin-left: 100px;
   margin-top: -130px;
}

.bi-person-fill{ //icono usuario
    margin-top: -180px;
    margin-left: 1240px;
}

// BODY

h1{ 
    text-align: center;
    color: black;
    font-family: fantasy;
    font-size: 60px;
    margin-bottom: 100px;
}


.bebidas{
    background-color: black;
    padding-top: 100px;
    padding-bottom: 100px;
}

.bebidas1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
    border-color: blueviolet;
    border-style: solid;
    margin-left: -200px;
}

// SUBTOTAL

.conteiner{
    background-color: black;
    padding-top: 0px;
    padding-bottom: 100px;
}

.nombre1{
    color:chartreuse;
    font-size: 30px;
    font-family: fantasy;
    letter-spacing: 3px;
}

.conteiner1{
    display: flex;
    flex-direction: row;
}

.conteiner2{
    display: flex;
    flex-direction: column;
    // margin-top: 100px;
    // margin-left: -90px;
}


.titulo{
    color:darkgray;
    font-size: 30px;
    margin-bottom: 10px;
}

.precio{
    color: chartreuse;
    font-size: 40px;
    margin-bottom: 10px;
}

.boton{
    background-color: blueviolet;
    color: white;
    padding: 8px 10px 8px 10px;
    margin-top: 15px;
}

.fernet{
    margin-left: 150px;
}

.vodka{
    
}